* {
  box-sizing: border-box;
}

:root {
  --heart-color: pink;
  --heart-size: calc(17vh / 4 * 8);
  --primary-color: #462749;
  --primary-color-light: #8c4f92;
  --secondary-color: #77b6ea;
  --primary-text: white;
  font-family: monospace;
}

nav li {
  color: var(--primary-text);
  list-style: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-color: var(--primary-text);
  border-width: 1px;
  border-color: var(--primary-text);
  /* box-shadow: 0.25rem 0.25rem var(--secondary-color); */
  background-color: var(--primary-color-light);
}

nav li:hover {
  box-shadow: 0.25rem 0.25rem var(--secondary-color);
  color: var(--secondary-color);
}

nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--primary-text);
}

nav a {
  text-decoration: none;
  font-size: large;
  color: inherit;
}

nav ul {
  display: flex;
}

nav,
:visited {
  color: inherit;
  text-decoration: none;
}

.content-container {
  padding: 48px 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
  min-width: 500px;
}

.back {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffe6f2;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--heart-color);
  height: var(--heart-size);
  width: var(--heart-size);
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: var(--heart-color);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  top: 0px;
  left: calc(var(--heart-size) / 2);
}
.heart:before {
  background-color: var(--heart-color);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  top: calc(var(--heart-size) / -2);
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: white;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  50% {
    transform: scale(0.6) rotate(-40deg);
  }
}

.list {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1rem;
}
